.hide-nav-item {
    text-align: center;
    margin-top: .3rem;
    width: 100%;
}

.hide-nav-link {
    text-align: center;
    width: 100%;
}

#customized-side-nav {
    z-index: 65535;
}

#customized-side-nav-hide {
    font-size: 30px;
    height: 100%;
    z-index: 15;
    position: fixed;
    display: list-item;
    width: 70px;
    list-style: none;
    text-align: center;
}

@media (max-width: 860px) {
    #customized-side-nav {
        display: none;
    }
}